<h1>Links#new</h1>
<p>Find me in app/views/links/new.html.erb</p>

<%= form_for @site, url: links_create_path(@site) do |z| %>
	<%= z.label "url" %>
	<%= z.text_field :url %><br/>
	<p><%= z.submit "Get This Site's Links" %><p>
<% end %>